@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Open+Sans:ital,wght@0,300;0,500;0,600;1,700&display=swap');

:root{
    --colortxt2:black;
    --colortxt:rgb(24, 14, 112);
}
body {
    font-family: 'Montserrat', sans-serif;
  
}
ul {   
    width: 400px;
    height: 36px;
    margin-left: 500px;
    margin-top: -70px;  
    margin-right: 140px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 10px;
    font-size: 15px;
    font-weight: 10;
}

a {
      color: var(--colortxt);
      text-decoration: none;
      font-weight: 500;
  }

.getStarted {
    box-sizing: border-box;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    margin-left: 1250px;
    margin-top: -90px;
    background: var(--colortxt2);
    width: 170px;
    padding-right: 15px;
    padding-left: 35px;
    padding-bottom: 15px;
    padding-top: 15px;
    color:white; 
    margin-bottom: 40px;
    border-radius: 5px;
}

.getStarted:hover {
    text-decoration: underline;
    color: rgb(184, 151, 221);
    box-shadow: 2px 3px 10px 2px #793e91;
    transition: all 0.5s;
}

.getStarted:active {
    color: rgb(165, 125, 238);
}
.getStarteds:focus {
    color: rgb(108, 16, 121);
}   
li {
    color: var(--colortxt);
    height: 15px;
    border-radius: 3px;
}
li:hover {
    text-decoration: underline;
    color: rgb(184, 151, 221);
    box-shadow: 2px 3px 10px 2px #793e91;
    transition: all 0.5s;
}

li:active {
    color: rgb(165, 125, 238);
}
li:focus {
    color: rgb(108, 16, 121);
}    

.cootels
{
    color: var(--colortxt);
    font-size: 40px;
    padding-top: 30px;
    padding-left: 100px;
}
.all {
    display: flex;
    flex-direction: row;
}
.text {
    display: flex; 
    flex-direction: column; 
    font-weight: 200; 
    font-size: 18px; 
    line-height: 32px; 
    padding-left: 100px ; 
    padding-top: 200px;
    color: rgb(24, 14, 112);

}
h1 {
line-height: 70px;
font-size: 100px;
    
}
.allImg {
    display: flex;
    flex-direction: row;
    
    
}
.img1 {
   
    width: 170px;
    height: 600px;
    padding-right: 50px;
    padding-left: 30px;
    padding-top: 100px;
}

.img2 {
   
    width: 170px;
    height: 600px;
    padding-right: 50px;
    padding-top: 200px;
   
}

.img3 {
   
    width: 170px;
    height: 600px;
    padding-top: 100px;
    padding-right: 50px;
   
}

.res{
    box-sizing: border-box;
    display: flex;
    font-size: 18px;
    font-weight: 400;
  
    
    background: var(--colortxt2);
    width: 200px;
    padding-right: 10px;
    padding-left: 50px;
    padding-bottom: 15px;
    padding-top: 10px;
    color:white; 
    margin-bottom: 40px;
    border-radius: 5px;
}

.res:hover {
    text-decoration: underline;
    color: rgb(184, 151, 221);
    box-shadow: 2px 3px 10px 2px #793e91;
    transition: all 0.5s;
}

.res:active {
    color: rgb(165, 125, 238);
}
.res:focus {
    color: rgb(108, 16, 121);
}    

